In [44]:
import numpy as np 
import pandas as pd

In [45]:
df = pd.read_csv(r"C:\Users\aliay\OneDrive\Desktop\Supervised Learning Foundation\Machine_Learning\data\insurance.csv")

In [46]:
df.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   expenses  1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

# fill null values

In [48]:
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
expenses    0
dtype: int64

In [49]:
# lw l2yt null values b3mlha imputation >> filling y3ni 
from sklearn.impute import SimpleImputer

In [50]:
# lw numerical data
mean_imputer = SimpleImputer(strategy = 'mean' , missing_values = np.nan) 
# lw catigroical
mode_imputer = SimpleImputer(strategy = 'most_frequent' , missing_values = np.nan)

In [51]:
# numeric
df['age'] = mean_imputer.fit_transform(df['age'].values.reshape(-1,1))
# categorical
# df['region'] = mode_imputer.fit_transform(df['region'].values.reshape(-1,1))

In [52]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [53]:
le = LabelEncoder()

In [54]:
df['sex'] = le.fit_transform(df['sex'])
df['smoker'] = le.fit_transform(df['smoker'])

In [58]:
# dy m3a el one hot encoder ely fyh fe elcolumn kza value zy el region
df = pd.get_dummies(df,drop_first =True)

# Specify the columns to convert
columns_to_convert = ['region_northwest', 'region_southeast','region_southwest']

# Convert Boolean values to integers for the specified columns
df[columns_to_convert] = df[columns_to_convert].astype(int)

df

,age,sex,bmi,children,smoker,expenses,region_northwest,region_southeast,region_southwest
0,19.0,0,27.9,0,1,16884.92,0,0,1
1,18.0,1,33.8,1,0,1725.55,0,1,0
2,28.0,1,33.0,3,0,4449.46,0,1,0
3,33.0,1,22.7,0,0,21984.47,1,0,0
4,32.0,1,28.9,0,0,3866.86,1,0,0
...,...,...,...,...,...,...,...,...,...
1333,50.0,1,31.0,3,0,10600.55,1,0,0
1334,18.0,0,31.9,0,0,2205.98,0,0,0
1335,18.0,0,36.9,0,0,1629.83,0,1,0
1336,21.0,0,25.8,0,0,2007.95,0,0,1
1337,61.0,0,29.1,0,1,29141.36,1,0,0

# Scaleing

In [59]:
# lazam tb3n afsl e inputs 3n el output abl el scaling
x = df.drop("expenses",axis=1)
y = df['expenses']

In [60]:
from sklearn.preprocessing import MinMaxScaler

In [61]:
mxc = MinMaxScaler()

In [62]:
x_scl  = mxc.fit_transform(x)

In [63]:
x_scl

array([[0.02173913, 0.        , 0.32075472, ..., 0.        , 0.        ,
        1.        ],
       [0.        , 1.        , 0.47978437, ..., 0.        , 1.        ,
        0.        ],
       [0.2173913 , 1.        , 0.45822102, ..., 0.        , 1.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.56334232, ..., 0.        , 1.        ,
        0.        ],
       [0.06521739, 0.        , 0.26415094, ..., 0.        , 0.        ,
        1.        ],
       [0.93478261, 0.        , 0.35309973, ..., 1.        , 0.        ,
        0.        ]])

# multi linear Regression 3la el data dy

In [64]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [65]:
lr = LinearRegression()

In [66]:
lr.fit(x_scl,y)
preds = lr.predict(x_scl)
print(r2_score(y,preds))

0.7509284662058436

In [67]:
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(degree = 3)

In [68]:
x_poly = poly.fit_transform(x_scl)

In [69]:
lr.fit(x_poly,y)
preds = lr.predict(x_poly)
print(r2_score(y,preds))

0.8574867264444506

# Model evaluation and splitting the data

In [70]:
from sklearn.model_selection import train_test_split

In [71]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2)

In [72]:
lr.fit(x_train,y_train)
train_preds = lr.predict(x_train)
test_preds = lr.predict(x_test)
print(r2_score(y_train,train_preds))  # ntygt 3l training data
print(r2_score(y_test,test_preds))    #   ntygt fe el test

0.7611011625035501
0.7123765832631331

In [73]:
x_train,x_test,y_train,y_test = train_test_split(x_poly,y,test_size = 0.2)

In [74]:
#3la polynomial 
lr.fit(x_train,y_train)
train_preds = lr.predict(x_train)
test_preds = lr.predict(x_test)
print(r2_score(y_train,train_preds))  # ntygt 3l training data
print(r2_score(y_test,test_preds))

# gab ntyga a7sn hna lma 3mlna el polynomial

0.8466410542829408
0.8052940664126147

Choosing between label encoding and one-hot encoding depends on the nature of the categorical data and the specific requirements of the machine learning model you are using. Here's a guide on when to use each:

Label Encoding
Definition: Label encoding converts categorical values into numerical values by assigning a unique integer to each category.

Use Cases:

Ordinal Data: When the categorical data has an inherent order or ranking (e.g., "low", "medium", "high"), label encoding is appropriate because it preserves the order.
Example: ['low', 'medium', 'high'] could be encoded as [0, 1, 2].
Tree-Based Models: Decision trees, random forests, and gradient boosting models (e.g., XGBoost, LightGBM) can handle label-encoded data effectively because they can split the data based on the encoded labels without assuming any ordinal relationship.
Efficiency: When dealing with a large number of categories, label encoding can be more memory-efficient compared to one-hot encoding.

One-Hot Encoding
Definition: One-hot encoding converts each category into a new binary column, where only one column will have a value of 1, and the rest will be 0.

Use Cases:

Nominal Data: When the categorical data has no inherent order or ranking (e.g., colors, types of animals), one-hot encoding is appropriate because it treats each category as equally important.
Example: ['red', 'green', 'blue'] becomes [1, 0, 0], [0, 1, 0], [0, 0, 1].
Non-Tree-Based Models: Linear models, neural networks, and other models that may interpret label-encoded data as ordinal can benefit from one-hot encoding to prevent incorrect assumptions about the relationships between categories.
Avoiding Ordinal Relationships: When you want to ensure that the model does not assume any order or ranking between categories.

Key Differences Between One-Hot Encoding and Get dummies
Library:

One-Hot Encoding: Typically implemented using scikit-learn.
get_dummies: Implemented using pandas.
Output Format:

One-Hot Encoding: Can produce a sparse matrix.
get_dummies: Produces a pandas DataFrame.
Usage:

One-Hot Encoding: More flexible and can be used as part of a preprocessing pipeline in scikit-learn.
get_dummies: Convenient for quick and easy conversion within pandas DataFrames, especially when performing exploratory data analysis.
Handling of Column Names:

One-Hot Encoding: Requires additional steps to manage column names if needed.
get_dummies: Automatically handles column names, making it easier to integrate back into the original DataFrame.
Summary
Use OneHotEncoder when working within a scikit-learn pipeline or when you need a sparse matrix for memory efficiency.
Use pd.get_dummies for quick and easy encoding within pandas DataFrames, especially during data exploration and preparation steps.